@import "reset";


/*
 * VARIABLES
 */
$_maroon: #941547;
$_cream: #fae4ad;

$angle_margin: 10px;

$sprite: '../assets/img/sprite-flat.png';


/*
 * MIXINS
 */
@mixin abs-center($w, $h) {
	width: $w;
	height: $h;
	top: (100% - $h) / 2;
	left: (100% - $w) / 2;
}

@mixin perspective($distance) {
	-webkit-perspective: $distance;
	-moz-perspective: $distance;
	-o-perspective: $distance;
	-ms-perspective: $distance;
	perspective: $distance;
}

@mixin animation($_time) {
	-o-transition: all $_time cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-ms-transition: all $_time cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition: all $_time cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transition: all $_time cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition: all $_time cubic-bezier(0.215, 0.610, 0.355, 1.000);
	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-ms-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}


/*
 * CSS
 */
html {
	background: url('../assets/img/wood.jpg') repeat;
	font-family: 'Buenard', serif;
	color: $_maroon;
}

#container {
	width: 100%;
	padding-top: 15px;
	/*height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: inset 0px 0px 500px 0px #000000;*/
}

#card {
	position: relative;
	width: 1180px;
	height: 700px;
	margin: 0 auto;
	/*@include abs-center(80%, 90%);*/
	@include perspective(2000px);
}

.transition {
	@include animation(1s);
}

.card {
	background: $_cream;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px 2px #000000;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	@include animation(1.5s);
}

.front {
	z-index: 900;
	box-shadow: 0px 0px 100px 0px #000000;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.back {
	z-index: 800;
	box-shadow: 0px 0px 100px 0px #000000;
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.flip {
	.front {
		z-index: 800;
		-webkit-transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}
	
	.back {
		z-index: 900;
		-webkit-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		-o-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}
}

.angle {
	background: url($sprite) no-repeat;
	width: 315px;
	height: 315px;
	position: absolute;
}

.angle.q1 {
	background-position: -18px -29px;
	top: $angle_margin;
	left: $angle_margin;
}

.angle.q2 {
	background-position: -361px -29px;
	top: $angle_margin;
	right: $angle_margin;
}

.angle.q3 {
	background-position: -18px -378px;
	bottom: $angle_margin;
	left: $angle_margin;
}

.angle.q4 {
	background-position: -361px -378px;
	bottom: $angle_margin;
	right: $angle_margin;
}

h1, h2, header {
	display: block;
	width: 100%;
	text-align: center;
	font-family: "Penna", "penna-connected", cursive;
	font-size: 115px;
}

header {
	font-size: 58px;
}

#title {
	position: absolute;
	top: 300px;
}

.front-message {
	font-size: 30px;
	width: 100%;
	position: absolute;
	text-align: center;
}

#invited {
	top: 125px;
}

#reverse {
	bottom: 105px;
	cursor: pointer;
	
	span {
		border-bottom: 1px dotted $_maroon;
	}
}

.twiddle {
	background: url($sprite) no-repeat;
	height: 92px;
	width: 430px;
	position: absolute;
	left: 375px;
}

.twiddle-top {
	top: 205px;
	background-position: -54px -761px;
}

.twiddle-bottom {
	top: 445px;
	background-position: -54px -899px;
}

.angle-back {
	width: 201px;
	height: 201px;
}

.angle-back.q1 {
	background-position: -18px -1035px;
}

.angle-back.q2 {
	background-position: -250px -1035px;
}

.angle-back.q3 {
	background-position: -18px -1270px;
}

.angle-back.q4 {
	background-position: -250px -1270px;
}

header {
	margin-top: 30px;
}

#divider {
	width: 266px;
	height: 50px;
	margin: 15px auto 15px auto;
	background: url($sprite) no-repeat;
	background-position: -522px -774px;
}

nav {
	font-size: 32px;
	text-align: center;
	
	li {
		margin: 0 5px;
		display: inline-block;
		cursor: pointer;
		padding: 10px;
		border-radius: 10px;
		@include animation(0.25s);
	}
	
	li.active {
		color: $_cream;
		background-color: $_maroon;
	}
}
